<mat-tab-group>
  <mat-tab label="Summary View">
      <table border="1">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of FullData?.Datas">
                  <td>{{ item.SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}</td>
                  <td>
                    {{ getValueFromLabel(item.Properties, 'Project Name') || '' }}
                  </td>
                  <td>
                    {{ getValueFromLabel(item.Properties, 'Construction Count') || '' }}
                  </td>
                  <td>
                    {{ getValueFromLabel(item.Properties, 'Is Construction Completed') }}
                  </td>
                  <td>
                    {{ getValueFromLabel(item.Properties, 'Length of the road') || '' }}
                  </td>
                </tr>
          </tbody>
        </table>  
  </mat-tab>
  
  <mat-tab label="Detailed View">
      <div style="display: flex; margin-top: 20px;">
        <table border="1" style="width: 30%; border-right: none;">
          <thead>
            <tr>
              <th>Sampling Times</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let time of samplingTimes"
              (click)="onSelectSamplingTime(time)"
              [class.selected]="time === selectedSamplingTime"
              style="cursor: pointer;"
            >
              <td>
                {{ time | date: 'dd-MM-yyyy hh:mm:ss a' }}
              </td>
            </tr>
          </tbody>
        </table>
  
        <form [formGroup]="detailForm" (ngSubmit)="onSave()" style="width: 70%;">
          <table border="1" style="width: 100%;">
            <thead>
              <tr>
                <th colspan="2">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Project Name:</td>
                <td>
                  <input type="text" formControlName="projectName" />
                </td>
              </tr>
              <tr>
                <td>Construction Count:</td>
                <td>
                  <input type="number" formControlName="constructionCount" />
                </td>
              </tr>
              <tr>
                <td>Is Construction Completed:</td>
                <td>
                  <input type="checkbox" formControlName="isConstructionCompleted" />
                </td>
              </tr>
              <tr>
                <td>Length of the Road:</td>
                <td>
                  <input type="number" formControlName="lengthOfRoad" />
                  <span>KM</span>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: center;">
                  <button type="submit" [disabled]="detailForm.invalid" class="save-button">Save</button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </mat-tab>
</mat-tab-group>
<div *ngIf="savedMessage" class="savedMessage">
  {{ savedMessage }}
</div>